# Required Python Packages

amqp==5.2.0
billiard==4.2.0
boto3==1.21.25
celery==5.3.6
click==8.1.6
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
confluent-kafka==2.3.0
cryptography==41.0.3
Flask==2.2.5
Flask-Cors==3.0.10
Flask-HTTPAuth==4.8.0
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
flask-swagger-ui==4.11.1
geographiclib==2.0
geopy==2.4.1
hvac==2.1.0
kombu==5.3.4
lxml==4.9.3
minio==7.2.0
motor==3.3.2
neo4j==5.7.0
pandas==1.4.1
pika==1.3.2
phonenumbers==8.13.27
plotly==5.18.0
pymilvus==2.3.4
pymongo==4.6.1
PyMuPDF==1.22.5
# psycopg2==2.9.9
protobuf==3.20.0
psycopg2-binary==2.9.9
pytest==7.4.0
PyXB==1.2.5
PyYAML==6.0.1
ray==2.8.1
redis==4.4.2
scikit-learn==1.3.2
spacy==3.7.2
spacy-alignments==0.9.0
spacy-legacy==3.0.12
# spacy-llm==0.4.3
spacy-loggers==1.0.4
spacy-model-manager==0.1.3
titlecase==2.3
# typedb-client==2.18.2
# typedb-driver==2.26.1
# typedb-protocol==2.18.0
typing-inspect==0.8.0
typing_extensions==4.6.3
tzdata==2023.4
Unidecode==1.3.7
vine==5.1.0
xmltodict==0.13.0